* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    background: #212121;
}

#home.d-none {
    display: none;
}

/* div {
    border: 1px solid black;
} */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    font-size: 1.5rem;
    color: white;
}

#home > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
}

#game {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    color: white;
}

#game.d-none {
    display: none;
}

div.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    padding: 5px;
    margin: 5px;
    color: white;
    background: #444;
}

h1 {
    align-self: center;
    padding: 20px 0;
}

div.heading > div:nth-child(3) {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3.animation {
    background: linear-gradient(red, #444);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

div.box-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.box-container {
    border-radius: 5px;
    height: 375px;
    width: 375px;
    display: grid;
    grid-template-columns: repeat(3, 33.33333%);
    grid-template-rows: repeat(3, 33.33333%);
}

div.box-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

#pop-up.d-none {
    display: none;
}

#pop-up {
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up > div {
    position: absolute;
    background-color: white;
    height: 150px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: scale(0);
}

#pop-up > div.support-scale {
    transition: transform 0.3s ease-out;
}

#pop-up > div.scale-up {
    transform: scale(1);
}
