* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

#home.d-none {
    display: none;
}

#game {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}

#game.d-none {
    display: none;
}

div {
    border: 1px solid black;
}

div.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    padding: 5px;
    margin: 5px;
}

h1 {
    align-self: center;
    padding: 20px 0;
}

div.heading > div:nth-child(3) {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3.animation {
    background: linear-gradient(red, whitesmoke);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

div.box-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.box-container {
    background: whitesmoke;
    height: 375px;
    width: 375px;
    display: grid;
    grid-template-columns: repeat(3, 33.33333%);
    grid-template-rows: repeat(3, 33.33333%);
}

div.box-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pop-up.d-none {
    display: none;
}

#pop-up {
    width: 100%;
    height: 100dvh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up > div {
    background: whitesmoke;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
